<h1>Dashboard</h1>
<h3>Welcome, <%= current_user.name %></h3>

<section id="news">
  <% @articles[:data].each do |article| %>
    <%= article[:attributes][:headline] %>
    <%= article[:attributes][:url] %>
  <% end %>
</section>

<section id="twitter">
  <% @tweets[:data].each do |tweet| %>
    <%= tweet[:attributes][:tweet] %>
  <% end %>
</section>