<h1>Dashboard</h1>
<h3>Welcome, <%= current_user.name %></h3>

<section id="news">
  <% @articles.each do |article| %>
    <%= article.headline %>
    <%= article.url %>
  <% end %>
</section>


<section id="twitter">
  <% @tweets.each do |tweet| %>
    <%= tweet.tweet %>
  <% end %>
</section>