<div class="topnav">
      <a class="active" href="/dashboard">Home</a>
      <a href="/news">News</a>
      <a href="/tweets">Tweets</a>
</div>

<section id="news">
  <% @articles.each do |article| %>
    <%= article.headline %>
    <%= article.url %>
  <% end %>
</section>
