<div class="topnav">
  <a class="active" href="/dashboard">Home |</a>
  <a href="/news">News |</a>
  <a href="/logout">Logout</a>
</div>

<section id="twitter">
  <% @tweets.each do |tweet| %>
    <%= tweet.tweet %>
  <% end %>
</section>